@font-face {
    font-family: argos-regular;
    src: url(../fonts/ArgosGeorge.ttf);
}

@font-face {
    font-family: blackchancery;
    src: url(../fonts/BLKCHCRY.ttf);
}

@font-face {
    font-family: vinque;
    src: url(../fonts/vinque.otf);
}

.text-1{
    font-family: 'vinque';
}
.text-2{
    font-family: 'blackchancery';
}

/**background principal**/
body{
    background-color: #6b2d35;
}

.background{
    /* max-width: 1370px; */
    /*min-height: 1007px;*/
    /*max-height: 1080px;*/
    /*height: 100vh;*/
    /* height: 945px; */
    max-width: 1355px;
    padding: 0px;
    margin: 0px;
}

/*Marker*/
.marker{
    position: fixed;
    top: 0px;
    left: 950px;
}
#markerContent{
    width: 280px;
    border: #e3c99e solid 2px;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    border-top: none;
    background: linear-gradient(180deg, #6b2d35, transparent);
    text-shadow: 2px -1px 3px black;
}
.marker > div > img{
    width: 50px;
    cursor: pointer;
}
.logout{
    text-decoration: none;
    color: #e3c99e;
    cursor: pointer;
}
.requestFriend > div > label{
    color: #e3c99e;
}
.shield{
    background: transparent;
    border: none;
    box-shadow: none;  
}
.shield:hover, shield:focus{
    box-shadow: none; 
}
.shield_yes{
    background-image: url("../images/shield7.png");
    width: 35px;
    height: 44px;
    cursor: pointer;
}
.shield_yes:hover{
    background-image: url("../images/shield3.png");
}
.markerLabel{
    position: relative;
    display: inline-block;
    width: 280px;
    text-align: center;
}
.markerLabel > label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e3c99e;
    cursor: pointer;
}

/**backgrounds**/
.bg-image1{
    background-image: url("../images/parchment3.png");
    background-repeat: no-repeat;
    margin-left: 50px;
}

/*Login and register*/
.auth-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-background {
    width: 860px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-formdiv{
    /*background-color: blue;*/
    /*opacity: 50%;*/
    width: 365px;
    height: 200px;
    position: relative;
    top: 199px;
    left: -123px;
}

.auth-formdiv input{
    height: 50px;
    background: none;
    border: none;
    font-family: vinque;
    font-size: 1.5rem;
}

.auth-formdiv input:focus{
    background: none;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 2px solid black;
}

#login-div{
    background-image: url("../images/login_page.png");
}

.fondo{
    background-image: url(../images/parchment.png);
}

.logo{
    width: 85px;
    margin-top: 2rem;
}

/* buttons */
button{
    background-color: #AD4955;
    font-family: vinque;
    border-radius: 15px;
    border: 2px solid #e3c99e;
    color: white;
    box-shadow: rgb(7 1 1 / 40%) 0px 0px 10px 8px;
}
button:hover, button:focus{
    box-shadow: inset 0 0 10px 8px #301a1a;
    cursor: pointer;
}
.button_jugar{
    width: 175px;
    font-size: 1.6rem;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 3rem;
}
.button_menu{
    width: 145px;
    font-size: 1.3rem;
    padding-top: 5px;
    padding-bottom: 5px;
}
.button_secondary{
    background-color: #5e2235;
}

/* FORMS */
.button_form{
    width: 125px;
    height: 43px;
    font-size: 1.1rem;
    border-radius: 10px;
    box-shadow: rgb(7 1 1 / 40%) 0px 0px 10px 4px;
}

/*HOME*/
.guardia{
    width: 200px;
}

/*AMIGOS*/
.return{
    margin-left: 8rem;
    width: 125px;
    font-size: 1.2rem;
    padding-top: 7px;
    padding-bottom: 7px;
}
.titleFriend{
    font-size: 2.2rem;
}
.styleInput{
    width: 200px;
    height: 47px;
    font-family: vinque;
    font-size: 1.5rem;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 7px;
}
/*.button_buscarAmigos{
    width: 170px;
    font-size: 1.7rem;
    padding-top: 10px;
    padding-bottom: 10px;
}*/
.button_addFriend{
    width: 210px;
    font-size: 1.1rem;
    padding-top: 9px;
    padding-bottom: 9px;
}
.divReturn{
    /* width: 100%;
    margin-bottom: 6rem; */
}
.myFriends{
    width: 65%;
    float: right;
    margin-right: 50px;
}
.searchFriend{
    margin-top: 3rem;
}
.buttonClose{
    /* background-color: #5e2235;
    font-family: vinque;
    border-radius: 15px;
    border: 2px solid #e3c99e;
    color: white;
    box-shadow: rgb(7 1 1 / 40%) 0px 0px 10px 8px; */
}

/*Board*/
.board{
    background-image: url(../images/woodBackground4.jpg);
    background-repeat: no-repeat;
    width: 1366px;
    height: 768px;
    max-width: 1370px;
    max-height: 770px;
}
.container-cards{
    /*max-width: 1360px;*/
    /*margin-left: 20px;*/
    /* position: fixed; */
    position: relative;
    top: 20px;
    /* left: 20px; */
    width: 1005px;
    background-image: url(../images/board.png);
    background-repeat: no-repeat;
    height: 620px;
    display: inline-block;
}
.container-frame{
    background-image: url(../images/frame.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 580px;
    position: relative;
    display: inline-block;
    margin-left: 25px;
    text-shadow: 2px -1px 3px black;
    float: right;
    margin-top: 50px;
    margin-right: 15px;
    /* background-color: #191313;
    border-radius: 20px; */
}
.container-frame > div{
    /* background: linear-gradient(180deg, #6b2d35, transparent); */
    text-align: center;
    width: 200px;
    margin-left: 25px;
    color: wheat;
    margin-top: 20px;
}

.div-player-3{
    transform: rotate(325deg);
    position: absolute;
    top: 33px;
    width: 100px;
    height: 190px;
    margin-left: 126px;
    margin-right: 175px;
}
.div-player-2{
    position: absolute;
    left: 440px;
    width: 100px;
    height: 190px;
    top: 1px;
}
.div-player-4{
    transform: rotate(37deg);
    margin-top: 25px;
    position: absolute;
    left: 605px;
    top: 10px;
    width: 100px;
    height: 190px;
    margin-left: 175px;
}
.container-cards-row-1{
    height: 250px;
}
.thrown-cards{
    position: absolute;
    margin-left: 315px;
    /* margin-right: 150px; */
}
.mallet-cards{
    position: absolute;
    left: 600px;
}
.mallet-cards > label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e3c99e;
}
.container-cards-row-2{
    height: 150px;
}
.container-cards-row-3{
    height: 200px;
}
.div-player-5{
    position: absolute;
    top: 357px;
    width: 100px;
    height: 190px;
    transform: rotate(36deg);
    margin-left: 145px;
}
.div-player-1{
    position: absolute;
    top: 380px;
    left: 250px;
    width: 505px;
    /* margin-left: 80px; */
    /* padding-bottom: 95px; */
}
.div-player-1 > div{
    display: block;
    width: 505px;
    height: 47px;
    margin-bottom: 10px;
}
.div-player-1 > div > div{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.div-player-6{
    transform: rotate(324deg);
    position: absolute;
    top: 353px;
    left: 760px;
    width: 100px;
    height: 190px;
}
.div-extras-down{
    width: 100px;
    height: 47px;
    margin-top: 10px;
}
.div-extras-down > div{
    display: inline-block;
}
.div-extras-up{
    width: 100px;
    height: 47px;
    margin-bottom: 10px;
}
.div-extras-up > div{
    display: inline-block;
}
.container-cards-row-1 > div > div > label{
    margin-bottom: 15px;
    font-size: 1.3rem;
    color: wheat;
}
.div-player-2 > div > label{
    margin-bottom: 10px !important;
    margin-top: 3px;
    font-size: 1.3rem;
    color: wheat;
}
.container-cards-row-3 > div > div > label{
    margin-top: 15px;
    font-size: 1.3rem;
    color: wheat;
}

/*.carta-tirada{
    position: relative;
}*/
.carta0{
    position: absolute;
    transform: rotate(10deg);
}
.carta1{
    position: absolute;
    transform: rotate(-10deg);
}
.carta2{
    position: absolute;
    transform: rotate(5deg);
}
.carta3{
    position: absolute;
    transform: rotate(-2deg);
}
.carta4{
    position: absolute;
    transform: rotate(16deg);
}
.carta5{
    position: absolute;
    transform: rotate(-7deg);
}

/* PERFIL */
.title-profile{
    display: inline-block;
    float: right;
    margin-right: 250px;
    font-size: 2.9rem;
}
.div-king{
    float: right;
}
.div-king > img{
    width: 280px;
}

/*PANTALLA DE CARGA*/
.pantalla-carga{
    position:absolute;
    left:0;
    right:0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 99999999;
}

.pantalla-carga span{
    color: white;
    font-size: 40px;
}

.container-cards > div > div > img{
    border-radius: 10px;
}
.container-cards > div > div > img:hover{
    border: wheat solid 3px;
    cursor: pointer;
}
.myCards > img{
    border-radius: 10px;
}
.myCards > img:hover, .myCards > img:focus{
    border: wheat solid 3px;
    cursor: pointer;
    width: 300px;
    height: 200px;
}
.board_buttons{
    position: absolute;
    top: 10px;
    left: 1170px;
}
.board_buttons > button{
    width: 35px;
    border-radius: 12px;
}
.end_board:hover{
    background-color: black;
    color: red;
}
