@font-face {
    font-family: argos-regular;
    src: url(../fonts/ArgosGeorge.ttf);
}

@font-face {
    font-family: blackchancery;
    src: url(../fonts/BLKCHCRY.ttf);
}

@font-face {
    font-family: vinque;
    src: url(../fonts/vinque.otf);
}

.text-1{
    font-family: 'vinque';
}
.text-2{
    font-family: 'blackchancery';
}

/**background principal**/
/*body{
    background-color: #6b2d35;
}*/

.container{
    max-width: 1260px;
    padding: 0px;
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Marker*/
.marker{
    position: fixed;
    top: 0px;
    left: 950px;
}
.markerContent{
    width: 280px;
    border: #e3c99e solid 2px;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    border-top: none;
    background: linear-gradient(180deg, #6b2d35, transparent);
    text-shadow: 2px -1px 3px black;
    display: none;
}
.marker:hover .markerContent{
    display: block;
}
.marker > div > img{
    width: 50px;
    cursor: pointer;
}
.logout{
    text-decoration: none;
    color: #e3c99e;
    cursor: pointer;
}
.logout:hover, logout:focus{
    text-shadow: 2px -1px 20px black;
    text-decoration: underline;
}
.requestFriend > div > label{
    color: #e3c99e;
}
.shield{
    background: transparent;
    border: none;
    box-shadow: none;
    width: 45px;
}
.shield:hover, shield:focus{
    box-shadow: none;
}
.shield_yes{
    background-image: url("../images/shield_yes_1.png");
    background-repeat: no-repeat;
    width: 35px;
    height: 45px;
    cursor: pointer;
}
.shield_yes:hover{
    background-image: url("../images/shield_yes_2.png");
}
.shield_no{
    background-image: url("../images/shield_no_1.png");
    background-repeat: no-repeat;
    width: 35px;
    height: 45px;
    cursor: pointer;
}
.shield_no:hover{
    background-image: url("../images/shield_no_2.png");
}
.markerLabel{
    position: relative;
    display: inline-block;
    width: 280px;
    text-align: center;
}
.markerLabel > label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e3c99e;
    cursor: pointer;
}

/**backgrounds**/
.bg-image1{
    background-image: url("../images/parchment3.png");
    background-repeat: no-repeat;
    width: 100%;
}

.bg-color1{
    background-color: #6b2d35;
}
.bg-color2{
    background-color: #fadf99;
}

/*Login and register*/
.auth-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-background {
    /*background-color: red;*/
    width: 740px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-formdiv{
    /*background-color: blue;*/
    /*opacity: 80%;*/
    width: 330px;
    height: 200px;
    position: relative;
    top: 135px;
    left: -115px;
}

.login-formdiv input{
    height: 50px;
    background: none;
    border: none;
    font-family: vinque;
    font-size: 1.5rem;
}

.login-formdiv input:focus{
    background: none;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 2px solid black;
}

#login-div{
    background-image: url("../images/login_background.png");
}

.register-formdiv{
    /*background-color: blue;*/
    /*opacity: 80%;*/
    width: 625px;
    height: 230px;
    position: relative;
    top: 113px;
    left: 2px;
}

.register-formdiv input{
    height: 47px;
    background: none;
    border: none;
    font-family: vinque;
    font-size: 1.5rem;
}

.register-formdiv input:focus{
    background: none;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 2px solid black;
}

#register-div{
    background-image: url("../images/register_background.png");
}

.register-form-row2{
    margin-top: 39px;
}

.register-form-col2{
    margin-left: 102px;
    padding: 0px;
    width: 200px;
}

.fondo{
    background-image: url('../images/parchment.png');
}

.logo{
    width: 85px;
    margin-top: 2rem;
}

/* buttons */
button{
    background-color: #AD4955;
    font-family: vinque;
    border-radius: 15px;
    border: 2px solid #e3c99e;
    color: white;
    box-shadow: rgb(7 1 1 / 40%) 0px 0px 10px 8px;
}
button:hover, button:focus{
    box-shadow: inset 0 0 10px 8px #301a1a;
    cursor: pointer;
}
.button_jugar{
    width: 175px;
    font-size: 1.6rem;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 3rem;
}
.button_menu{
    width: 145px;
    font-size: 1.3rem;
    padding-top: 5px;
    padding-bottom: 5px;
}
.button_secondary{
    background-color: #5e2235;
}

/* FORMS */
.button_form{
    width: 125px;
    height: 43px;
    font-size: 1.1rem;
    border-radius: 10px;
    box-shadow: rgb(7 1 1 / 40%) 0px 0px 10px 4px;
}

/*HOME*/
.guardia{
    width: 200px;
}

/*AMIGOS*/
.return{
    margin-left: 8rem;
    width: 125px;
    font-size: 1.2rem;
    padding-top: 7px;
    padding-bottom: 7px;
}
.titleFriend{
    font-size: 2.2rem;
}
.styleInput{
    width: 200px;
    height: 47px;
    font-family: vinque;
    font-size: 1.5rem;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 7px;
}
/*.button_buscarAmigos{
    width: 170px;
    font-size: 1.7rem;
    padding-top: 10px;
    padding-bottom: 10px;
}*/
.button_addFriend{
    width: 210px;
    font-size: 1.1rem;
    padding-top: 9px;
    padding-bottom: 9px;
}
.divReturn{
    /* width: 100%;
    margin-bottom: 6rem; */
}
.myFriends{
    width: 65%;
    float: right;
    margin-right: 50px;
}
.searchFriend{
    margin-top: 3rem;
}
.buttonClose{
    /* background-color: #5e2235;
    font-family: vinque;
    border-radius: 15px;
    border: 2px solid #e3c99e;
    color: white;
    box-shadow: rgb(7 1 1 / 40%) 0px 0px 10px 8px; */
}

/*Board*/
.board{
    background-image: url(../images/woodBackground4.jpg);
    background-repeat: no-repeat;
    width: 1366px;
    height: 768px;
    max-width: 1370px;
    max-height: 770px;
}
.container-cards{
    /*max-width: 1360px;*/
    /*margin-left: 20px;*/
    /* position: fixed; */
    position: relative;
    top: 20px;
    /* left: 20px; */
    width: 1005px;
    background-image: url(../images/board.png);
    background-repeat: no-repeat;
    height: 620px;
    display: inline-block;
}
.container-frame{
    background-image: url(../images/frame.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 580px;
    position: relative;
    display: inline-block;
    margin-left: 25px;
    text-shadow: 2px -1px 3px black;
    float: right;
    margin-top: 55px;
    margin-right: 15px;
    /* background-color: #191313;
    border-radius: 20px; */
}
.container-frame > div{
    /* background: linear-gradient(180deg, #6b2d35, transparent); */
    text-align: center;
    width: 200px;
    margin-left: 25px;
    color: wheat;
    margin-top: 20px;
}

.div-player-3{
    transform: rotate(325deg);
    position: absolute;
    top: 33px;
    width: 100px;
    height: 190px;
    margin-left: 126px;
    margin-right: 175px;
}
.div-player-3 > button{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 3px;
    padding-bottom: 4px;
    color: #AD4955;
    background-color: #e3c99e;
}
.div-player-3 > button:hover{
    color: #e3c99e;
    background-color: #AD4955;
}
.div-player-2{
    position: absolute;
    left: 440px;
    width: 100px;
    height: 190px;
    top: 1px;
}
.div-player-2 > button{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 3px;
    padding-bottom: 4px;
    color: #AD4955;
    background-color: #e3c99e;
}
.div-player-2 > button:hover{
    color: #e3c99e;
    background-color: #AD4955;
}
.div-player-4{
    transform: rotate(37deg);
    margin-top: 25px;
    position: absolute;
    left: 605px;
    top: 10px;
    width: 100px;
    height: 190px;
    margin-left: 175px;
}
.div-player-4 > button{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 3px;
    padding-bottom: 4px;
    color: #AD4955;
    background-color: #e3c99e;
}
.div-player-4 > button:hover{
    color: #e3c99e;
    background-color: #AD4955;
}
.container-cards-row-1{
    height: 250px;
}
.thrown-cards{
    position: absolute;
    margin-left: 315px;
    /* margin-right: 150px; */
}
.mallet-cards{
    position: absolute;
    left: 600px;
}
.deck-steal:hover{
    border: wheat solid 3px;
    cursor: pointer;
}
.mallet-cards > label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e3c99e;
}
.container-cards-row-2{
    height: 150px;
}
.container-cards-row-3{
    height: 200px;
}
.div-player-5{
    position: absolute;
    top: 357px;
    width: 100px;
    height: 190px;
    transform: rotate(36deg);
    margin-left: 145px;
}
.div-player-5 > button{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 3px;
    padding-bottom: 4px;
    color: #AD4955;
    background-color: #e3c99e;
}
.div-player-5 > button:hover{
    color: #e3c99e;
    background-color: #AD4955;
}
.div-player-1{
    position: absolute;
    top: 400px;
    /* left: 250px;
    width: 505px; */
    left: 208px;
    width: 590px;
    /* margin-left: 80px; */
    /* padding-bottom: 95px; */
}
.div-player-1 > button{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 3px;
    padding-bottom: 4px;
    color: #AD4955;
    background-color: #e3c99e;
}
.div-player-1 > button:hover{
    color: #e3c99e;
    background-color: #AD4955;
}
.div-player-1 > div{
    display: block;
    /* width: 505px; */
    width: 590px;
    height: 47px;
    /* margin-bottom: 10px; */
}
.div-player-1 > div > div{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.div-player-6{
    transform: rotate(324deg);
    position: absolute;
    top: 353px;
    left: 760px;
    width: 100px;
    height: 190px;
}
.div-player-6 > button{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 3px;
    padding-bottom: 4px;
    color: #AD4955;
    background-color: #e3c99e;
}
.div-player-6 > button:hover{
    color: #e3c99e;
    background-color: #AD4955;
}
.div-extras-down{
    width: 100px;
    height: 47px;
    margin-top: 10px;
}
.div-extras-down > div{
    display: inline-block;
}
.div-extras-up{
    width: 100px;
    height: 47px;
    margin-bottom: 10px;
}
.div-extras-up > div{
    display: inline-block;
}
.container-cards-row-1 > div > div > label{
    margin-bottom: 15px;
    font-size: 1.3rem;
    color: wheat;
}
.div-player-2 > div > label{
    margin-bottom: 10px !important;
    margin-top: 3px;
    font-size: 1.3rem;
    color: wheat;
}
.container-cards-row-3 > div > div > label{
    margin-top: 15px;
    font-size: 1.3rem;
    color: wheat;
}

/*.carta-tirada{
    position: relative;
}*/
.carta0{
    position: absolute;
    transform: rotate(10deg);
}
.carta1{
    position: absolute;
    transform: rotate(-10deg);
}
.carta2{
    position: absolute;
    transform: rotate(5deg);
}
.carta3{
    position: absolute;
    transform: rotate(-2deg);
}
.carta4{
    position: absolute;
    transform: rotate(16deg);
}
.carta5{
    position: absolute;
    transform: rotate(-7deg);
}

/* PERFIL */
.title-profile{
    display: inline-block;
    float: right;
    margin-right: 250px;
    font-size: 2.9rem;
}
.div-king{
    float: right;
}
.div-king > img{
    width: 280px;
}

/*PANTALLA DE CARGA*/
.pantalla-carga{
    position:absolute;
    left:0;
    right:0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 99999999;
}

.pantalla-carga span{
    color: white;
    font-size: 40px;
}

.container-cards > div > div > img{
    border-radius: 10px;
}
/*.container-cards > div > div > img:hover{*/
/*    border: wheat solid 3px;*/
/*    cursor: pointer;*/
/*}*/
/* .myCards{
    height: 240px;
} */
.myCards > img{
    border-radius: 10px;
    width: 150px;
    margin-top: 50px;
    box-shadow: #301a1a 0 0 8px 0.3px;
}
.myCards-play:hover, .myCards-play:focus{
    border: wheat solid 3px;
    cursor: pointer;
    /* width: 300px;
    height: 200px; */
    margin-top: 0px;
    /* width: 240px;     */
    z-index: 2 !important;
}
.board_buttons{
    position: absolute;
    top: 10px;
    left: 1170px;
}
.board_buttons > button{
    width: 35px;
    border-radius: 12px;
}
.end_board:hover{
    background-color: black;
    color: red;
}

/*MODAL*/

.modal-lg {
    max-width: 650px;
}
.modal-header{
    display: flex;
    align-items: start;
}
.modal-content{
    background-color: #ffdaa2;
    border: #6b2d35 solid 2px;
    border-radius: 20px;
    box-shadow: #301a1a 0 0 10px 8px;
}
.modal-div-title{
    margin-left: auto;
    margin-right: auto;
}
.modal-div-title h2{
    padding-left: 43px;
    font-size: 3rem;
    font-family: blackchancery;
}
.close-modal{
    width: 35px;
    box-shadow: rgb(7 1 1 / 40%) 0px 0px 10px 6px;
}
.close-modal:hover{
    box-shadow: inset 0 0 10px 2px #301a1a;
    background-color: #fadf99;
    color: #6b2d35;
}
.modal-button{
    border-radius: 12px;
    width: 120px;
    height: 40px;
    font-size: 1.2rem
}

/*priest card rival*/
.rival-card{
    width: 150px;
    border-radius: 10px;
    box-shadow: #301a1a 0 0 8px 0.3px;
}
/*modal guess*/
.card-guess{
    width: 100px;
    border-radius: 10px;
}
.card-guess:hover{
    cursor: pointer;
}
.card-guess-selected{
    border: #6b2d35 solid 3px;
    box-shadow: #301a1a 0 0 10px 7px;
}

.message-title-play{
    position: absolute;
    /*background-color: red;*/
    width: 900px;
    margin-left: 50px;
    top: 175px;
    text-align: center;
    font-family: vinque;
    font-size: 4.5rem;
    color: black;
    text-shadow: 1px 1px #301a1a, -1px -1px #eeeeee;
    z-index: 1000;
}

.show-title{
    animation-name: slide-down;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}
@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
.cursor-pointer{
    cursor: pointer;
}

/* TABLAS */

tbody {
    display:block;
    max-height:310px;
    overflow-y:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
} 
thead, tbody tr {
    display:table;
    /* width: 800px; */
    table-layout:fixed;
}
thead {
    /*width: calc( 800px - 1em )*/
}
.table-responsive{
    width: 50%;
    float: left;
    margin-left: 90px;
}
.chanciller{
    padding-bottom: 7rem;
    float: right;
    margin-right: 100px;
    width: 220px;
}
